## Commenting

In [29]:
print("hello world") # in-line comment
print("from the other slide")

"""
comment in here
"""

hello world
from the other slide

'\ncomment in here\n'

In [30]:
print("hello world")
print("hello", "world", "!", "123")
print("hello", "world", "!", "123", sep="+")
print("hello", "world", "!", "123", sep="\n")

hello world
hello world ! 123
hello+world+!+123
hello
world
!
123

## Data type

1. integer - int
2. floating point - float
3. string - str
4. boolean - bool
5. nonetype - None

In [31]:
# int
1, 2, 0, -1, -5, -0
int()

# float
1.5, -2.4, 3.14, 0.0
float()

# string
"can write anything"
str()

# boolean
True, False
bool()

# Nonetypes
None

## Type Checking

In [32]:
type(0.0) #for ipynb

print(type(0.0)) #for py

isinstance(-1, int)

isinstance(-1, str)

<class 'float'>

False

## Day3

In [33]:
firstname = "Ly"
age = 20
print(firstname, "is", age, "years old.")

""" 
name your variable meaningful and understandable
"""

Ly is 20 years old.

' \nname your variable meaningful and understandable\n'

In [34]:
name = "hort" # ok!
Age = 17 #bad
first_name = 1 #ok!
# 1var = 1 #bad
#_1var = 2 #bad
# reserved variable (should not use)

## Input

In [35]:
name_input = input()
print("hello, wellcome", name_input)

hello, wellcome hort

In [42]:
# int()
#a = int("4")
#a = int("-1")
#a = int(True)
#a = int("True")
#a = int(2.4)
a = int(-2.4)
#a = int("2.4")
#a = int("-3.4")
print(a, type(a))

-2 <class 'int'>

In [44]:
# float()
a = float(2)
#a = float(2.4)
a = float(True)
a = float(False)
print(a, type(a))

2.0 <class 'float'>

In [ ]:
# bool()
a = bool(1)
a = bool (3)
a = bool (-2)
a = bool (0)
a = bool ("")
a = bool (None)
print(a, type(a))

In [ ]:
# str()
a = str(1)
a = str(True)
a = str(2.5)
a = str(None)
a = str(print())
print(a, type(a))

In [ ]:
def test():
    return "hi"

str(test)
str(test())

In [45]:
a = bool(str(float(-2)))
print(a, type(a))

True <class 'bool'>

## Math Operation

In [48]:
a = 1 + 1
b = 6 - 3
c = 4 * 5
d = 6 / 3
e = 6 // 3 
# 2 * 2 * 2 = 2 ** 3
f = 2 ** 3
g = 10 % 3 # find remain
print(a, b, c, int(d), e, f, g, sep=",")

2,3,20,2,2,8,1

In [49]:
# 12.9 -> 12.0
float(int(12.9))
12.9 // 1

12.0

## Order of operations

In [50]:
# () -> ** -> */% -> +-
# PEMDAS
a = (2 * 2) -(2 / 2) - (2 ** 2)
b = (2 * 2) - (2 / 2) - 4
c = 4 - 1.0 - 4
d = -1.0

In [51]:
a = 4 + 4
b = 3 * 2
a = a + 4
a = b / a
print(a, b)

0.5 6

## Logical Operation

In [ ]:
a = 5
2 > 3
a < 7
a == 6
a >= 5
a <= 2
a != 5

## Day 4

In [3]:
# not, and, or
not True
not False

True and True
False and True
False and False
2 > 3 and 3 > 1

# me or you go to school
True or True
False or True
True or False
False or False

a = 5
b = 6
print(a != b-1 or b**2 > a)

True

In [8]:
user_input = int(input())
print(user_input + 1)

4
6

## Adder Program

In [3]:
product = int(input("PRODUCT"))
tax = int(input("TAX"))
total = product + tax
print("Total", total)

Total 7

In [20]:
user_input = float(input("Enter your temperature in Celsius"))
fahrenheit = ((user_input * 9 / 5) + 32)
kalvin = (user_input + 273.15)
print("Your temperature", user_input, "°C", "\n", "Fahrenheit :", fahrenheit, "F", "\n", "Kalvin :", kalvin, "K")

Your temperature 4.0 °C
 Fahrenheit : 39.2 F
 Kalvin : 277.15 K

## Why naming

In [ ]:
hour = int(input())

if hour < 9:
    print("Good Morning!")
elif hour <= 12:
    print("Hello")
elif hour < 17:
    print("Good Afternoon")
elif hour < 20:
    print("Good Evening")
else:
    print("Goodnight")

## Math Function

In [ ]:
abs(-24)
abs(24)
abs(0)

In [ ]:
max(5, -19, 6, 22)
min(10, 4, -3)

In [23]:
round(2.45, 1)
round(3.1433333, 2)

3.14

## Turtle Library

In [1]:
# importing library
import turtle
turtle.forward(200)

:

## Day 5

In [2]:
True and False or True
True and (False or True)

True

In [ ]:
# Constant should not be changed!!!!!!
PI = 3.14
MATH_E = 2.7
API_LINK = ""
api_link = ""

## Conditional

In [6]:
if 2 != 3:
    if 3 != 4:
        if 4 != 5:
            if 5!= 6:
                if 6 != 7:
                    print("omg")
            if 10 != 11:
                print("ohhhh myyyyyy")

omg
ohhhh myyyyyy

In [7]:
if 2 != 3 and 3 != 4 and 4 != 5:
    if 5 != 6 and 6 != 7:
        print("holy shi*******")
    if 10 != 11:
        print("goddddddd")

holy shi*******
goddddddd

## Else

In [8]:
if 4 != 5:
    print("yessssss")
else:
    print("noooooooo")

yessssss

In [10]:
if 4 == 5:
    print("yessssss")
else:
    print("noooooooo")

noooooooo

In [10]:
if 4 != 5:
    print("yessssss")
else:
    print("noooooooo")
if 4 == 5:
    print("yessssss")
else:
    print("noooooooo")

yessssss
noooooooo

## Elif

In [5]:
tem = int(input())
if tem > 35:
    print("CANCEL SCHOOL")
elif tem > 30:
    print("CANCEL TWO CLASSES")
else:
    print("NORMAL CLASSES")

CANCEL TWO CLASSES

## Loops

### While loop

In [ ]:
while CONDITION:
    ACTION

In [ ]:
while True:
    print("Hello")

In [5]:
number = 1
while number <= 5:
    print(number)
    number += 1         #number = number + 1

1
2
3
4
5

In [6]:
number = 2
while number <= 20:
    print(number)
    number += 2

2
4
6
8
10
12
14
16
18
20

In [8]:
number = 1 
while number <= 20:
    if number % 2 == 0:
        print(number)
    number += 1

2
4
6
8
10
12
14
16
18
20

### For loop

range(start, stop, step)

In [ ]:
range(6) # 0,1,2,3,4,5
range(10) # 0,1,2,3,4,5,6,7,8,9
range(1) # 0
range(0) #nothing
range(-1) #nothing

range(2, 6) # 2,3,4,5
range(-1, 3) # -1,0,1,2
range(5, 2) #nothing

range(3, 9, 2) # 3,5,7
range(-3, 7, 3) # -3,0,3,6
range(10, -1, -2) # 10,8,6,4,2,0

In [16]:
for num in range(1, 11):
    s_num = num ** 2
    print(s_num)

1
4
9
16
25
36
49
64
81
100

In [20]:
lucky_num = int(input())
if lucky_num % 7 == 0 and lucky_num % 11 != 0:
    print("YES")
else:
    print("NO")

NO

In [42]:
apple_cake = int(input())
orange_cake = int(input())
bag_a = int(input())
bag_b = int(input())
if (apple_cake <= bag_a and orange_cake <= bag_b) or (apple_cake <= bag_b and orange_cake <= bag_a):
    print("YES")
else:
    print("NO")

YES